.card {
  padding: 16px 8px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.07);
  gap: 8px;
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
  }
}