.logo__item {
  border: solid 3px black;
  box-sizing: border-box;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  background: #D1D2D3;
  box-shadow: 0px 0px 5px rebeccapurple;
  left: 0;
  top: 0;
}

.logo__item:nth-of-type(1) {
  height: 30px;
  width: 10px;
  animation-name: firstMoving;
}

.logo__item:nth-of-type(2) {
  height: 30px;
  width: 10px;
  animation-name: secondMoving;
}

.logo__item:nth-of-type(3) {
  height: 30px;
  width: 10px;
  animation-name: thirdMoving;
}

.logo__item:nth-of-type(4) {
  height: 10px;
  width: 30px;
  animation-name: fourthMoving;
}

@keyframes firstMoving {
  0% {
    left: 0;
    top: 0;
  }
  5% {
    left: calc(100% - 10px);
    top: 0;
    /* верхний правый угол */
  }
  10% {
    left: 0;
    top: calc(50% + 5px);
    /* нижний левый угол */
  }
  15% {
    left: calc(100% - 10px);
    top: calc(50% + 5px);
    /* нижний правый угол */
  }
  20% {
    left: calc(100% - 10px);
    top: 0;
  }
  100% {
    left: calc(100% - 10px);
    top: 0;
  }
}

@keyframes secondMoving {
  0% {
    left: 0;
    top: 0;
  }
  5% {
    left: calc(100% - 10px);
    top: calc(50% + 5px);
    /* нижний правый угол */
  }
  10% {
    left: calc(100% - 10px);
    top: 0;
    /* верхний правый угол */
  }
  15% {
    left: 0;
    top: calc(50% + 5px);
    /* нижний левый угол */
  }
  20% {
    left: 0;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes thirdMoving {
  0% {
    left: 0;
    top: 0;
  }
  5% {
    left: 0;
    top: calc(50% + 5px);
    /* нижний левый угол */
  }
  10% {
    left: calc(100% - 10px);
    top: 0;
    /* верхний правый угол */
  }
  15% {
    left: calc(100% - 10px);
    top: calc(50% + 5px);
    /* нижний правый угол */
  }
  20% {
    left: calc(50% - 5px);
    top: calc(50% + 5px);
  }
  100% {
    left: calc(50% - 5px);
    top: calc(50% + 5px);
  }
}


@keyframes fourthMoving {
  0% {
    left: 0;
    top: 0;
  }
  5% {
    left: 0;
    top: calc(100% - 10px);
    /* низ */
  }
  10% {
    left: 0;
    top: 0;
    /* верхний правый угол */
  }
  15% {
    left: 0;
    top: calc(100% - 10px);
    /* низ */
  }
  20% {
    left: 0;
    top: calc(50% - 5px);
  }
  100% {
    left: 0;
    top: calc(50% - 5px);
  }
}

