.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__title {
    margin: 0;
  }

  &__description {
    width: max-content;
    margin: 0;
  }
}
