.icon {
  flex-shrink: 0;

  // SIZES

  &--clickable {
    transition: opacity 0.3s ease;
  }

  &--smaller {
    width: var(--icon-size, var(--icon-size-w, 15px));
    height: var(--icon-size, var(--icon-size-h, 15px));
  }

  &--small {
    width: var(--icon-size, var(--icon-size-w, 20px));
    height: var(--icon-size, var(--icon-size-h, 20px));
  }

  &--medium {
    width: var(--icon-size, var(--icon-size-w, 24px));
    height: var(--icon-size, var(--icon-size-h, 24px));
  }

  &--large {
    width: var(--icon-size, var(--icon-size-w, 30px));
    height: var(--icon-size, var(--icon-size-h, 30px));
  }

  &--xl {
    width: var(--icon-size, var(--icon-size-w, 36px));
    height: var(--icon-size, var(--icon-size-h, 36px));
  }

  svg {
    //width: 100%;
    //height: 100%;
  }

  &--clickable:hover {
    opacity: 0.5;
  }
}
