.user-section__input {
  margin-bottom: 1vh;
  font-family: 'Noto Sans';
  border: none;
  background: #D1D2D3;
  border: solid 3px black;
  color: #19171D;
  font-size: 15px;
  line-height: 1.8;
  padding-left: 8px;
}

.user-section__input:focus,.user-section__input:hover {
  outline: none;
}
