.user-section__btn {
  background: none;
  color: white;
  font-size: 15px;
  line-height: 1.6;
  font-family: 'PixelTimes';
  border: solid 3px black;
  outline: none;
  transition: color 2s linear, font-weight .5s linear, text-shadow 2s linear;
}

.user-section__btn:focus {
  outline: none;
  font-weight: bold;
}

.user-section__btn:hover, .user-section__btn:focus {
  font-weight: bold;
  color: white;
  text-shadow: 10px 10px 8px black;
}
