.front-end {
  margin: 0 auto;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 680px) {
  .front-end {
    padding-left: 2vw;
    padding-right: 10vw;
  }
}
