.portfolio {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'Consolas', monospace;
  color: white;
  text-shadow: 0 0 8px black;
  box-sizing: border-box;
}

.portfolio::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  filter: brightness(.4);
  z-index: -1;
}

.portfolio__title {
  position: relative;
  margin: 0;
  font-weight: 400;
  font-size: 35px;
  z-index: 2;
  margin-bottom: 25px;
}

.portfolio__title::before {
  content: '';
  position: absolute;
  bottom: 2%;
  left: -5%;
  width: 110%;
  height: 25%;
  background: #FFA200;
  z-index: -1;
}

.portfolio__items-container {
  width: 100%;
}

.portfolio__items-list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(260px, 290px));
  justify-content: center;
  gap: 15px;
  padding: 0 10px;
  box-sizing: border-box;
}