.default {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  box-sizing: border-box;
  font-family: 'Droid Sans Mono', monospace;
  cursor: default;

  &__main_article {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
  }
}

.main {
  padding: 16px;
  max-width: 1200px;
  width: 100%;

  @media screen and (max-width: 470px) {
    padding: 8px;
  }
}