.App {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: rgb(32, 33, 36);
  background-image: url('../../images/bg5.png');
  background-repeat: repeat;
  background-size: 170px 170px;
}

.App__main-content {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 6% 80px;
  display: flex;
  box-sizing: border-box;
  /*background-color: rgba(0, 0, 0, .5);*/
  transition: filter .5s ease;
}

.App__main-content__blured {
  filter: blur(5px);
}

@media screen and (max-width: 900px) {
  .App__main-content {
    padding: 7% 40px;
  }
}

@media screen and (max-width: 600px) {
  .App__main-content {
    padding: 18% 20px;
  }
}