.main-page { 
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'Consolas', monospace;
  color: white;
  text-shadow: 0 0 8px black;
  box-sizing: border-box;
}

.main-page__title {
  position: relative;
  font-size: 46px;
  margin: 0;
  margin-bottom: 15px;
  z-index: 3;
  text-align: end;
}

.main-page__title::before {
  content: '';
  position: absolute;
  bottom: 2%;
  left: -5%;
  width: 110%;
  height: 25%;
  background: #FFA200;
  z-index: -1;
}

.main-page__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
}