@import url(./__place/logo_place_header.css);
@import url(./__item/logo__item.css);

.logo {
  position: relative;
  width: 30px;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 650px) {
  .logo {
    position: absolute;
    left: 5%;
    top: 2vh;
  }
}
