@import url(./_place/menu__link_place_header.css);
@import url(./_active/menu__link_active.css);

.menu__link {
  cursor: pointer;
  font-size: 20px;
  outline: none;
}

@media screen and (max-width: 800px) {
  .menu__link {
    font-size: 18px;
  }
}

@media screen and (max-width: 710px) {
  .menu__link {
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {
  .menu__link {
    font-size: 20px;
    margin-bottom: 7px;
  }
}
