@import url(./__controls/add-new-container__controls.css);
@import url(./__titlearea/add-new-container__titlearea.css);
@import url(./__textarea/add-new-contrainer__textarea.css);
@import url(./__send-btn/add-new-container__send-btn.css);

.add-new-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
}
