@import url(./_place/menu_place_header.css);
@import url(./__link/menu__link.css);

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 650px) {
  .menu {
    flex-direction: column;
  }
}
