

.link {
  text-decoration: none;
  color: inherit;

  &__fullWidth {
    width: 100%;
    text-align: center;
  }

  &:hover {
    color: inherit;
  }
}

.hover {
  position: relative;
  padding: 8px 16px;
  //width: max-content;
  &:before,
  &:after {
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    opacity: 0;
    width: 0px;
    height: 0px;
    border: 2px solid black;
    transition: all 0.3s ease;
  }
  &:before {
    left: 2px!important;
    top: 2px!important;
    border-right: none;
    border-bottom: none;
  }
  &:after {
    bottom: 2px!important;
    right: 2px!important;
    border-left: none;
    border-top: none;
  }
  &:hover:before,
  &:focus:before,
  &:hover:after,
  &:focus:after,
  &__active:before,
  &__active:focus:before,
  &__active:after,
  &__active:focus:after, {
    opacity: 1;
    width: 18px;
    height: 18px;
  }
}