@import url(./__burger-menu/header__burger-menu.css);
@import url(./__logo-burger/header__logo-burger.css);

.header {
  min-height: 16vh;
  background: #121016;
  display: flex;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 650px) {
  .header {
    flex-direction: column;
    padding-top: calc(2vh + 50px);
  }
}
