@import url(./__title/cheat-sheet__title.css);
@import url(./__text/cheat-sheet__text.css);
@import url(./__code/cheat-sheet__code.css);
@import url(./__bold/cheat-sheet__bold.css);

.cheat-sheet {
  position: relative;
  white-space: pre-line;
  cursor: pointer;
  background: #121016;
  margin-bottom: 50px;
}

.test-enter-active, .test-leave-active {
  transition: max-height .8s ease-out;
}
.test-enter, .test-leave-to {
  max-height: 0vh;
}
