@font-face {
  src: url('../../assets/PixelTimes.ttf') format('truetype');
  font-family: 'PixelTimes';
  font-weight: normal;
}

@font-face {
  src: url('../../assets/19167.ttf') format('truetype');
  font-family: 'Noto Sans';
}


@font-face {
  src: url('../../assets/IBMPlexMono-Bold.ttf') format('truetype');
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
}

@font-face {
  src: url('../../assets/IBMPlexMono-Regular.ttf') format('truetype');
  font-family: 'IBM Plex Mono', monospace;
  font-weight: normal;
}
