.footer__social-img {
  width: 40px;
  height: 40px;
  filter: grayscale(1) blur(2px);
  transition: filter .6s linear;
}

.footer__social-img:focus {
  outline: none;
}

.footer__social-img:hover {
  filter: grayscale(0);
}
